# Environments
.venv/
env/
venv/

# Data files (often too large for GitHub)
*.csv
*.xlsx
*.db

# Allow our specific dashboard data files to be pushed to GitHub
!final_data_for_vehicle_forecasting.csv
!forecast_details.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Dashboard/App specific
dashboard/node_modules/
dashboard/dist/
dashboard/.next/

# Project specifics
catboost_info/
outputs/
